<section id="profile" *ngIf="currentUser">
    <mat-grid-list [cols]="3" rowHeight="300px">
        <mat-grid-tile colspan="1">
            <img class="ofc img-border" src="https://avatars.dicebear.com/api/micah/{{currentUser.name}}.svg" alt="pp">
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="overflow-visible">
            <div class="bio">
                <div class="bio-header">
                    <h2>{{currentUser.name}}</h2>
                </div>
                <div class="bio-content">
                    <p>
                        {{currentUser.bio}}
                    </p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</section>
<section id="blogs">
    <app-blog [location]="'home'"></app-blog>
</section>