<div class="wrapper purple-bg page-height" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
        </mat-card-header>

        <form class="form" [formGroup]="form" (ngSubmit)="submit(form)">
            <mat-error *ngIf="form.errors">{{form.errors | json}}</mat-error>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input matInput type="text" name="username" formControlName="username" placeholder="Username"
                        required="true" (input)="checkUserName()">
                    <mat-error *ngIf="username?.hasError('username')">
                        Username Exists
                    </mat-error>
                    <mat-error *ngIf="username?.hasError('required')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="username?.hasError('minlength')">
                        Username must be at least 3 characters long
                    </mat-error>
                    <mat-error *ngIf="username?.hasError('maxlength')">
                        Username must be less than 15 characters long
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="text" name="name" formControlName="name" placeholder="Full name"
                        required="true">
                    <mat-error *ngIf="name?.hasError('required')">
                        Full name is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="email" name="email" formControlName="email" placeholder="Email"
                        required="true">
                    <mat-error *ngIf="email?.hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="email?.hasError('email')">
                        Not a valid email
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" name="password" formControlName="password" placeholder="Password"
                        required="true">
                    <mat-error *ngIf="password?.hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="password?.hasError('minlength')">
                        Password must be at least 6 characters long
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="password" name="passwordConfirm" formControlName="passwordConfirm"
                        required="true" placeholder="Confirm Password">
                    <mat-error *ngIf="passwordConfirm?.hasError('required')">
                        Password confirmation is required
                    </mat-error>

                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>User Bio (Optional)</mat-label>
                    <textarea matInput type="text" name="bio" formControlName="bio" placeholder="Enter bio"></textarea>
                </mat-form-field>

            </mat-card-content>
            <button mat-raised-button [disabled]="form.invalid" color="primary" class="btn-block btn-sm mb-1">

                <span [style.display]="'inline-flex'">
                    <mat-spinner [color]="'accent'" *ngIf="showLoad" [diameter]="30" [strokeWidth]="4"></mat-spinner>
                    Register
                </span>
            </button>
            <code>Already have an account? <a class="text-link" routerLink="/login">Log in</a></code>

        </form>
    </mat-card>
</div>