<section id="profile">
    <mat-card>
        <mat-card-content>
            <mat-grid-list [cols]="3" rowHeight="1:1">
                <div fxFlex="25%" fxFlex.sm="100%">
                    <mat-grid-tile colspan="1">
                        <mat-card>
                            <mat-card-content>
                                <img class="profile-pic"
                                    src="https://pbs.twimg.com/profile_images/1486873642889723908/Wf0prvnx_400x400.jpg"
                                    alt="pp">
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>
                                    <h1>Parag Saxena</h1>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="bio">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus adipisci
                                        distinctio debitis voluptas
                                        a, quisquam, aperiam eum eveniet odio temporibus fuga sapiente reiciendis nisi
                                        ipsum, quasi numquam iste
                                        itaque voluptatem.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora rerum aperiam
                                        exercitationem explicabo eius voluptatem dolorum voluptate veritatis dolores
                                        aliquid quo esse odio eos earum repellendus praesentium incidunt, vero ab?
                                        Inventore, fugiat nesciunt, explicabo nihil distinctio, doloremque magni nulla
                                        non quis consequatur suscipit. Perspiciatis voluptatum necessitatibus architecto
                                        cupiditate voluptas unde fuga eos vel ullam ad, hic, quas numquam, culpa rem?
                                        Eum repellat facilis in eveniet quod illo dolorem itaque magni a obcaecati unde
                                        enim consequatur minima ratione quam numquam vitae nobis sit, voluptatem
                                        laboriosam! Veniam suscipit quisquam doloribus sit a.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti enim nihil,
                                        quaerat provident repellat perferendis soluta similique labore, perspiciatis est
                                        praesentium eos minima accusamus distinctio, vero ipsa obcaecati! Obcaecati,
                                        corrupti.
                                        Itaque doloribus odit sint inventore quia perferendis, nam minima delectus
                                        quaerat commodi id corporis quisquam nemo, quod enim dolorum? Velit, quod. Iste
                                        saepe maxime earum assumenda dicta dolor hic non?
                                        Dolorum, cupiditate sunt. Officia rerum, alias at nulla a dolorem unde deleniti
                                        eius necessitatibus ab laborum, voluptates fugiat nihil quasi amet sint dolor
                                        placeat molestias repellat excepturi voluptatibus? Ullam, ad?
                                        Aliquid nobis nam quas beatae sint ullam nihil, harum sit quidem porro
                                        doloremque suscipit non tenetur! Repellendus suscipit quidem necessitatibus
                                        esse, temporibus, distinctio eum facilis modi asperiores voluptatum sapiente
                                        nesciunt.
                                        Sequi minus, quidem laudantium quaerat ipsa maxime. Sapiente beatae sequi quae
                                        architecto ratione aperiam reprehenderit aliquid quam numquam porro voluptatibus
                                        expedita, rerum dignissimos aut eum. Recusandae ut cupiditate sapiente
                                        explicabo?
                                        Saepe velit laboriosam incidunt, omnis tempore possimus fugit commodi ipsum
                                        illum? Consectetur eius, fugit culpa laborum officia voluptatum vero voluptates
                                        consequuntur modi repudiandae ducimus possimus, quaerat nihil tempora, totam
                                        minus.
                                        Harum non, dolorum architecto maiores deserunt blanditiis, deleniti ipsam sed
                                        voluptatum beatae illum in ut laboriosam facilis, ratione doloremque! Dolore
                                        nihil iure architecto ut. Molestias sit saepe adipisci eligendi eaque!
                                        Autem quos maxime, perferendis necessitatibus, laudantium laboriosam aut
                                        voluptate facilis nulla porro perspiciatis error odio vitae dignissimos, sunt
                                        corporis! Modi, delectus ut quas pariatur iste aut repellat dolorum repudiandae
                                        ex.
                                        Nostrum placeat neque ab eveniet molestiae molestias. Laborum, culpa ipsa? Ipsum
                                        odit aspernatur natus fugit suscipit accusantium repellat, sapiente dolores
                                        aliquam quae dolore distinctio sequi a fuga blanditiis velit debitis?
                                        Maxime quo deserunt ducimus iure architecto vitae magnam sunt esse quae suscipit
                                        sapiente numquam, itaque distinctio explicabo deleniti dolores recusandae
                                        facilis praesentium? A doloribus sunt adipisci minus officia ullam iure?</p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</section>
<section id="blogs">
    <mat-grid-list [cols]="mybreakpoint" rowHeight="2:1" gutterSize="10px">
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h1>home</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum distinctio impedit quae,
                        recusandae
                        incidunt quo ab quasi tenetur, omnis doloremque magni provident qui minus, fugit sapiente
                        praesentium. Dignissimos, tenetur praesentium.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="/home">Home</button>
                    <button mat-raised-button color="primary" routerLink="/about">About</button>
                    <button mat-raised-button color="primary" routerLink="/contact">Contact</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>