<section id="profile">
    <mat-card>
        <mat-card-content>
            <mat-grid-list [cols]="3" rowHeight="2:1">
                <div fxFlex="25%" fxFlex.sm="100%">
                    <mat-grid-tile colspan="1">
                        <mat-card class="mat-elevation-z21">
                            <mat-card-content>
                                <img mat-card-image src="https://avatars.dicebear.com/api/micah/{{currentUser.name}}.svg" alt="pp">
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="2">
                        <div class="bio">
                            <div class="bio-header">
                                <h2 >{{currentUser.name}}</h2>
                            </div>
                            <div class="bio-content">
                                <code>
                                    {{currentUser.bio}}
                                </code>
                            </div>
                        </div>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</section>
<section id="blogs">

    <mat-grid-list [cols]="mybreakpoint" rowHeight="350px" gutterSize="10px">
        <mat-grid-tile *ngFor="let blog of (allBlogs$| async)">
            <mat-card class="blog-card">
                <mat-card-header>
                    <img mat-card-avatar src="https://www.robohash.org/{{currentUser.name}}?set=set3&size=100x100" class="header-min-logo" alt="">
                    <mat-card-title class="cp" (click)="openPost(blog)">{{blog.title}} </mat-card-title>
                    <mat-card-subtitle>By {{blog.author.name}}</mat-card-subtitle>
                </mat-card-header>
                <div class="card-img">
                    <img class="ofc"  mat-card-image src="{{blog.featuredImage}}" alt="{{blog.title}}">
                </div>
                <mat-card-content>
                    <p class="blog-summary">{{blog.summary}}</p>

                    <p class="readTime"> {{blog.createdAt | date}} |  {{blog.readingTime}} min Read</p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>