
.bio {
  text-align: center;
  &-header {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin: 0.5rem 0;
  }

  &-content {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0.5rem 0;
  }
}

.ofc{
  object-fit: cover;
  margin-bottom: 0;
  width: 200px;
  height: 200px;
}

.card-img{
  display: flex;
  justify-content: center;
  height: 11rem;
  padding: 1rem 0;
}