<section id="createBlog" class="wrapper">
    <div class="box bg-accent full-box admin-layout">
        <div class="d-flex jcb admin-layout-header">
            <h2 class="accent admin-layout-title">Create Blog</h2>
        </div>

        <div class="content admin-layout-body">
            <form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <mat-card>
                    <mat-card-content>
                        <mat-form-field class="full-width">
                            <input matInput type="text" name="title" formControlName="title"
                                placeholder="Enter Blog Name" required="true">
                            <mat-error *ngIf="title.hasError('required')">
                                Blog Name is required
                            </mat-error>
                        </mat-form-field>
                        <div class="editor my-1 NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
                            <ngx-editor [editor]="editor" formControlName="content" required name="content"
                                [placeholder]="'Blog Content here...'"></ngx-editor>
                        </div>
                        <div class="otherAttr">
                            <mat-form-field class="full-width">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="category">
                                    <mat-option *ngFor="let category of (categories|async)"
                                        [value]="category._id">
                                        <span [matTooltip]="category.description">{{category.name}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <mat-label>Tags</mat-label>
                                <mat-select formControlName="tags" multiple>
                                    <mat-option *ngFor="let tag of (tagList|async)" [value]="tag._id">
                                        {{tag.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <button type="submit" mat-raised-button [disabled]="form.invalid" color="primary"
                            class="btn-sm my-1">
                            Create Blog
                        </button>
                    </mat-card-content>
                </mat-card>

            </form>
        </div>
    </div>
</section>