@use "@angular/material" as mat;
@include mat.core();

$primary: mat.define-palette(mat.$indigo-palette, 500);
$accent: mat.define-palette(mat.$teal-palette);
$warn: mat.define-palette(mat.$orange-palette);
$danger: mat.define-palette(mat.$red-palette);
$text: mat.define-palette(mat.$brown-palette, 100);
$success: mat.define-palette(mat.$green-palette, 100);
$info: mat.define-palette(mat.$blue-palette, 100);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      base: $text,
    ),
  )
);

section {
  margin: 1.25rem 0;
}

.container {
  margin: 0 12.5px;
  height: calc(100% - 10px);
}

.hStyle {
  width: min-content;
  border-style: none none double none;
  transition: all 0.1s;
}

.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
    -10px -10px 10px rgba(255, 255, 255, 0.1);
  margin: 0 2rem;

  & > button {
    margin: 0 0.5rem;
  }

  &-item {
    margin: 0 0.5rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 0.25rem;
    padding: 0.3125rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;

    &:hover {
      background-color: thistle;
      box-shadow: 30px 30px 80px rgba(0, 0, 0, 0.2);
    }
  }
}

.active {
  color: #000 !important;
  background: thistle;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.sidenav {
  width: 200px;

  &-container {
    height: auto;
    width: 100%;
  }

  & .mat-toolbar {
    background: inherit;
  }
}

.accent {
  background: mat.get-color-from-palette($accent) !important;
}

.success {
  color: mat.get-color-from-palette($success) !important;
}

.danger {
  color: mat.get-color-from-palette($danger) !important;
}

.bg-success {
  background-color: mat.get-color-from-palette($success) !important;
}

.bg-danger {
  background-color: mat.get-color-from-palette($danger) !important;
}

.mat-focused .mat-form-field-label {
  color: mat.get-color-from-palette($success) !important;
}

.mat-form-field-underline .mat-form-field-ripple {
  /*change color of underline*/
  background-color: mat.get-color-from-palette($success) !important;
}

// @include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  background: mat.get-color-from-palette($accent) !important;
  color: mat.get-color-from-palette($text) !important;
  border-radius: 0.25rem !important;
  // overflow-y: auto;
  // max-height: -webkit-fill-available;
}

.login-wrapper {
  height: 100%;
}

.box {
  position: relative;
  top: 0;
  opacity: 1;
  float: left;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
}

.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}

.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.login-wrapper .login-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.login-wrapper .login-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}

.login-wrapper mat-card-header mat-card-title {
  font-size: 30px;
  margin: 0;
}

.login-wrapper .mat-card {
  padding: 40px 70px 50px;
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #fff7fa;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.8375em 0;
}
